<h1>Gan356 Air SM</h1>
<img class="cube" 
  src="https://cdn.shopify.com/s/files/1/0368/4329/0756/products/71WTXfNgS8L._AC_SL1500_grande.jpg?v=1587524827">
<div class="details">
  <p><span>Description:</span> Magnets in AirSM will not drop, and their positions will be more precise with the
    Magnets-Snap-On design. With the use of 3mm*2mm magnets, the handfeel will be more stable and more
    comfortable. P.S. This design is brand new for the AirSM.</p>
  <p><span>Difficulty level:</span> 3</p>
  <a class="btn" href="/">Back</a>
</div>